/.cursor

/data_scraping/results
/data_classification/data
/data_scraping/database/data
/data_scraping/venv
/data_scraping/results
/data_classification/venv
/ml_training/bert/venv
ml_training/bert/data